<!-- app/views/pages/about.html.erb -->
<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Sobre nossa hamburgueria</h1>

  <p class="my-5">
   Nossa História

    A Hamburgueria Delícia Gourmet nasceu da paixão por hambúrgueres artesanais e do desejo de proporcionar experiências gastronômicas memoráveis aos nossos clientes. Fundada em [ano de fundação], em [localização], rapidamente nos tornamos um ponto de referência para os amantes de boa comida na região.
    Nossa Missão

    Nosso compromisso é oferecer hambúrgueres de alta qualidade, preparados com ingredientes frescos e selecionados, sem abrir mão do sabor e da criatividade. Cada hambúrguer é cuidadosamente preparado para garantir uma explosão de sabores em cada mordida.
    Nossa Visão

    Vislumbramos ser reconhecidos como a melhor hamburgueria da cidade, não apenas pela qualidade dos nossos produtos, mas também pelo atendimento excepcional e ambiente acolhedor que proporcionamos aos nossos clientes. Queremos ser o destino preferido de famílias, amigos e todos que apreciam uma boa refeição.
    Valores

        Qualidade: Comprometemo-nos a utilizar ingredientes frescos e de alta qualidade em todos os nossos pratos.
        Criatividade: Estamos sempre inovando e criando novas combinações de sabores para surpreender o paladar dos nossos clientes.
        Satisfação do Cliente: Colocamos o cliente no centro de tudo o que fazemos, buscando sempre superar suas expectativas.
        Sustentabilidade: Preocupamo-nos com o meio ambiente e adotamos práticas sustentáveis em nossas operações.

    Venha nos Visitar!

    Estamos ansiosos para recebê-lo em nossa hamburgueria e compartilhar com você uma experiência gastronômica única. Seja para um almoço rápido, um jantar especial ou uma comemoração em grupo, a Hamburgueria Delícia Gourmet é o lugar perfeito para desfrutar de deliciosos hambúrgueres em um ambiente agradável e descontraído.
  </p>

  <!-- Adicione mais conteúdo conforme necessário -->

  <%= link_to "Voltar", root_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
