<div id="<%= dom_id stock %>" class="bg-white shadow-md rounded-lg p-6 my-4">
  <p class="my-3">
    <strong class="block text-gray-700 font-medium mb-1">Produto:</strong>
    <%= stock.product.name %>
  </p>

  <p class="my-3">
    <strong class="block text-gray-700 font-medium mb-1">Quantidade:</strong>
    <%= stock.amount %>
  </p>

  <p class="my-3">
    <strong class="block text-gray-700 font-medium mb-1">Tamanho:</strong>
    <%= stock.size %>
  </p>
</div>
