<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl text-gray-900 mb-6">Novo Produto</h1>

  <%= render "form", admin_product: @admin_product %>

  <%= link_to "Voltar para Produtos", admin_products_path, class: "mt-6 inline-block text-sm px-4 py-2 leading-none border rounded text-gray-900 border-gray-900 hover:bg-gray-100 hover:text-gray-800 transition duration-300 ease-in-out" %>
</div>
